html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas:    "header nav"
                            "intro intro"
                            "aboutme aboutme"
                            "projects projects"
                            "contact contact"
                            "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8% 1fr 550px 1fr 1fr 5%;
    background-color:#131d36
}
#amphoto {
    height: 550px; width: 950px;
}
#pphoto {
    height: 575px; width: 937px;
    float: right;
}
header {
    grid-area: header;
}
header i {
    font-size: 32px;
    padding: 2rem;
}

nav {
    grid-area: nav;
    color: white;
    padding: 2rem;
    margin-left: 400px;
}
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 1rem;
    font-size: 16px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #03fcec;
}


#intro {
    grid-area: intro;
    grid-column: 1 / span 2;
    color: white;
    height: 35rem;
    padding-left: 32rem;
    position: relative;
}

#intro h1 {
    font-size: 65px;
    opacity: 75%;
    position: relative;
}
#intro p {
    width: 40rem;
    position: relative;
}
/* #intro img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
} */
#amtitle {
    position: absolute;
    color: white;
    font-size: 48px;
    padding-left: 4rem;
}
#ampara {
    position: absolute;
    color: white;
    padding-left: 4rem;
    padding-top: 6rem;
}
#ampara2 {
    color:black;
    font-size: 1.5rem;
    width: 20rem;;
    position: absolute;
    margin-left: 63rem;
    padding-top: 6rem;
}
#amlist {
    color:black;
    font-size: 1.25rem;
    width: 20rem;;
    position: absolute;
    margin-left: 63rem;
    margin-top: 4rem;
    padding-top: 6rem;
}
#aboutme {
    grid-area: aboutme;
    background-color: #cfcfcf;
}
#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
    background-color: #cfcfcf;
}

footer {
    grid-area: footer;
}
